body{
    background-color: beige;
    
}
.jumbotron{
background-color: rgb(171, 230, 230);
}
h1{
    font-family: 'Playfair Display', serif;
    color: rgb(9, 9, 54);
}

h2{
    color: rgb(6, 6, 105);
}